In [61]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [53]:
df = pd.read_excel('../data/Ministry of Health Budget 2007 To 2023.xlsx')
df.sample(5)

,Hijri_year,Gregorian_year,Total_state_budget,Total_budget,Percentage,Workers_Compensation,Goods_and_Services,Expenditures_on_programs,Expenditures_on_projects,Unnamed: 9,Unnamed: 10
1,1428/1429,2008.0,45000000.0,25220000.0,0.0560,12392000.0,4228000.0,6000000.0,2600000.0,NaN,NaN
8,​1436/1437,2015.0,86000000.0,62342539.0,0.0720,26666810.0,8725303.0,21898239.0,5052187.0,NaN,NaN
12,​1440/1441​,2019.0,110600000.0,75403859.0,0.0682,30455000.0,9432485.0,25399602.0,2940485.0,NaN,NaN
5,​1433/1434,2012.0,69000000.0,47076447.0,0.0680,22594000.0,6850100.0,13291755.0,4340592.0,NaN,NaN
10,​1438/1439,2017.0,89000000.0,67757893.0,0.0761,27412949.0,8647051.0,27507479.0,4191314.0,NaN,NaN

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Hijri_year                17 non-null     object
 1   Gregorian_year            17 non-null     float64
 2   Total_state_budget        17 non-null     float64
 3   Total_budget              17 non-null     float64
 4   Percentage                17 non-null     float64
 5   Workers_Compensation      17 non-null     float64
 6   Goods_and_Services        17 non-null     float64
 7   Expenditures_on_programs  17 non-null     float64
 8   Expenditures_on_projects  17 non-null     float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               1 non-null      float64
dtypes: float64(10), object(1)
memory usage: 2.0+ KB

In [55]:
expenditure_cols = [
    'Workers_Compensation', 
    'Goods_and_Services', 
    'Expenditures_on_programs', 
    'Expenditures_on_projects'
]

df['Calculated_Expenditures'] = df[expenditure_cols].sum(axis=1)

print("أول 5 صفوف مع إجمالي النفقات المحسوب:")
print(df[['Gregorian_year','Total_budget', 'Calculated_Expenditures']].head())

أول 5 صفوف مع إجمالي النفقات المحسوب:
   Gregorian_year  Total_budget  Calculated_Expenditures
0          2007.0    22808200.0               22808200.0
1          2008.0    25220000.0               25220000.0
2          2009.0    29518700.0               29518700.0
3          2010.0    35063200.0               35063200.0
4          2011.0    39860200.0               39860200.0

In [56]:
df['Variance'] = df['Total_budget'] - df['Calculated_Expenditures']

# عرض أي سنوات فيها اختلاف (Variance != 0)
inconsistent_years = df[df['Variance'] != 0]

if inconsistent_years.empty:
    print("\n✅ البيانات متسقة تماماً. إجمالي النفقات يساوي إجمالي الميزانية لكل السنوات.")
else:
    print("\n⚠️ تنبيه: تم العثور على اختلاف (Variance) في السنوات التالية:")
    print(inconsistent_years[['Gregorian_year', 'Total_budget', 'Calculated_Expenditures', 'Variance']])

⚠️ تنبيه: تم العثور على اختلاف (Variance) في السنوات التالية:
    Gregorian_year  Total_budget  Calculated_Expenditures   Variance
10          2017.0    67757893.0               67758793.0     -900.0
12          2019.0    75403859.0               68227572.0  7176287.0
15          2022.0    77696297.0               77696294.0        3.0
16          2023.0    80751614.0               80751610.0        4.0
17             NaN           NaN                      0.0        NaN
18             NaN           NaN                      0.0        NaN
19             NaN           NaN                      0.0        NaN
20             NaN           NaN                      0.0        NaN
21             NaN           NaN                      0.0        NaN

In [57]:
print("\n--- الإحصائيات الوصفية للميزانية والنفقات ---")
print(df[['Total_state_budget', 'Total_budget', 'Calculated_Expenditures']].describe())

--- الإحصائيات الوصفية للميزانية والنفقات ---
       Total_state_budget  Total_budget  Calculated_Expenditures
count        1.700000e+01  1.700000e+01             2.200000e+01
mean         7.966471e+07  5.625239e+07             4.314160e+07
std          2.347339e+07  1.969690e+07             2.929663e+07
min          3.800000e+07  2.280820e+07             0.000000e+00
25%          5.800000e+07  3.986020e+07             2.341115e+07
50%          8.550000e+07  5.998536e+07             5.071340e+07
75%          9.780000e+07  7.540386e+07             6.689341e+07
max          1.114000e+08  8.075161e+07             8.075161e+07

In [58]:
# حساب النسبة المئوية للتغير في عمود Total_budget
df['YoY_Change_Budget'] = df['Total_budget'].pct_change() * 100

print("\n--- التغير السنوي في الميزانية (%) ---")
print(df[['Gregorian_year', 'Total_budget', 'YoY_Change_Budget']])

--- التغير السنوي في الميزانية (%) ---
    Gregorian_year  Total_budget  YoY_Change_Budget
0           2007.0    22808200.0                NaN
1           2008.0    25220000.0          10.574267
2           2009.0    29518700.0          17.044806
3           2010.0    35063200.0          18.783009
4           2011.0    39860200.0          13.681010
5           2012.0    47076447.0          18.103891
6           2013.0    54350355.0          15.451268
7           2014.0    59985360.0          10.367927
8           2015.0    62342539.0           3.929590
9           2016.0    58899190.0          -5.523274
10          2017.0    67757893.0          15.040450
11          2018.0    64297264.0          -5.107344
12          2019.0    75403859.0          17.273822
13          2020.0    75413147.0           0.012318
14          2021.0    79846364.0           5.878573
15          2022.0    77696297.0          -2.692755
16          2023.0    80751614.0           3.932384
17             NaN           NaN           0.000000
18             NaN           NaN           0.000000
19             NaN           NaN           0.000000
20             NaN           NaN           0.000000
21             NaN           NaN           0.000000

C:\Users\DSC-GDP075\AppData\Local\Temp\ipykernel_1900\3523674757.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['YoY_Change_Budget'] = df['Total_budget'].pct_change() * 100

In [ ]:
YEAR_COL = 'Gregorian_year'  # تم تعديلها لإضافة المسافة
COMP_COL = 'Workers_Compensation' # تم تعديلها لإضافة علامة الاقتباس
GOODS_COL = 'Goods_and_Services'  # تم تعديلها لإضافة المسافة وعلامة &
PROG_COL = 'Expenditures_on_programs' # تم تعديلها لإضافة المسافة



# Drop rows where essential data is missing (لضمان أن الرسم البياني لا ينقطع بسبب قيم فارغة)
# نستخدم errors='ignore' في الفلترة لضمان عدم حدوث Key Error
df = df.dropna(subset=[YEAR_COL, COMP_COL, GOODS_COL, PROG_COL], errors='ignore')


# تحويل عمود السنة إلى عدد صحيح (فقط للتأكيد)
df[YEAR_COL] = pd.to_numeric(df[YEAR_COL], errors='coerce').astype(pd.Int64Dtype())
df = df.dropna(subset=[YEAR_COL])


# --- 2. حساب المتغيرات التحليلية (Calculation of Policy Metrics) ---

# A. الإنفاق العلاجي والتشغيلي (Curative Spending - الخط الأحمر)
# يتمثل في رواتب العاملين (Bab 1) + السلع والخدمات (Bab 2)
df['Curative_Spending_SAR'] = df[COMP_COL] + df[GOODS_COL]

# B. الإنفاق الوقائي (Preventive Spending - الخط الأخضر)
# يتمثل في النفقات على البرامج (Bab 3)
df['Preventive_Spending_SAR'] = df[PROG_COL]

# --- 3. إنشاء الرسم البياني الخطي (Time Series Line Chart) ---

# تعيين عمود السنة الميلادية كفهرس (Index) للرسم
df = df.set_index(YEAR_COL)

plt.figure(figsize=(12, 6))

# 1. رسم خط الإنفاق العلاجي (الخط الأحمر)
plt.plot(df.index, df['Curative_Spending_SAR'], label='الإنفاق العلاجي والتشغيلي (Curative)', marker='o', color='#E34234', linewidth=3)

# 2. رسم خط الإنفاق الوقائي (الخط الأخضر)
plt.plot(df.index, df['Preventive_Spending_SAR'], label='الإنفاق الوقائي (البرامج - Prevention)', marker='o', color='#3C7E3F', linewidth=3)

TypeError: DataFrame.dropna() got an unexpected keyword argument 'errors'